In [6]:
from pascal_voc_writer import Writer
from PIL import Image
import os

In [2]:
"../../data/raw/VOC2012/JPEGImages/"

'../../data/raw/VOC2012/JPEGImages/'

In [7]:
lst = []
for file in os.listdir("../../data/raw/VOC2012/JPEGImages/"):
    img = Image.open("../../data/raw/VOC2012/JPEGImages/"+file)
    lst.append(img.size)
    # width, height = img.size
    # if width > max_width:
    #     max_width = width
    # if height > max_height:
    #     max_height = height

In [8]:
lst[:5]

[(486, 500), (500, 281), (500, 366), (500, 375), (500, 335)]

In [9]:
import numpy as np

In [11]:
xd = np.array(lst)

In [12]:
import pandas as pd

In [14]:
pd.DataFrame(xd).describe()

                  0             1
count  17125.000000  17125.000000
mean     466.797547    389.507620
std       61.931367     65.497125
min      142.000000     71.000000
25%      499.000000    338.000000
50%      500.000000    375.000000
75%      500.000000    400.000000
max      500.000000    500.000000

In [15]:
dir_anno = "../../data/raw/VOC2012/Annotations"
img_dir  = "../../data/raw/VOC2012/JPEGImages"

In [19]:
from fileinput import filename
import os 
import numpy as np
import xml.etree.ElementTree as ET
from collections import OrderedDict
import matplotlib.pyplot as plt
import pandas as pd 
from tqdm import tqdm

def extract_single_xml_file(tree):
    names = []
    for elems in tree.iter():
        if elems.tag == "object":
            for elem in elems:
                if elem.tag == "name":
                    names.append(str(elem.text))
    return names

df_anno = []
filenames = os.listdir(dir_anno)
for fnm in tqdm(filenames):  
    if not fnm.startswith('.'): ## do not include hidden folders/files
        tree = ET.parse(os.path.join(dir_anno,fnm))
        names = extract_single_xml_file(tree)
        df_anno += names

100%|██████████| 17125/17125 [00:02<00:00, 6267.81it/s]

In [22]:
from collections import Counter
cnt = Counter(df_anno)

In [23]:
cnt['person'], cnt['car'], cnt['dog'], cnt['cat'], cnt['bicycle']

(17401, 2492, 1598, 1277, 837)

In [24]:
other_keys = {k: v for k, v in cnt.items() if k not in ['person', 'car', 'dog', 'cat', 'bicycle']}
other_keys

{'aeroplane': 1002,
 'tvmonitor': 893,
 'train': 704,
 'boat': 1059,
 'chair': 3056,
 'bird': 1271,
 'bottle': 1561,
 'sheep': 1084,
 'diningtable': 800,
 'horse': 803,
 'motorbike': 801,
 'sofa': 841,
 'cow': 771,
 'bus': 685,
 'pottedplant': 1202}

In [25]:
sum(other_keys.values())

16533